@use '../tool/' as t;

.p-about {
  --space: clamp(40px, 11.72vw, 120px);

  gap: var(--space);
  padding-block: var(--space);
}

// Characteristics
.p-about-characteristics__list {
  grid-template-columns: repeat(2, 1fr);
}

.p-about-characteristics__item {
  gap: 2em;
  padding: min(7.78vw, 54px) min(3.89vw, 54px);

  &:not(:first-of-type) {
    border-top: solid 1px var(--gray-color-primary);

    @include t.responsive(lg) {
      border-top: none;
    }
  }

  &:nth-of-type(odd) {
    @include t.responsive(lg) {
      border-right: solid 1px var(--gray-color-primary);
    }
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    @include t.responsive(lg) {
      border-bottom: solid 1px var(--gray-color-primary);
    }
  }
}

.p-about-characteristics__title {
  font-size: 1.2em;
}

// Service
.p-about-service__list {
  gap: clamp(40px, 20px + 5.87vw, 80px);
}

.p-about-service__item {
  gap: 1.5em;

  @include t.responsive(lg) {
    gap: 0;
  }
}

.p-about-service__content {
  @include t.responsive(lg) {
    gap: 1.5em;
    width: 50%;
    padding: 2em 2em 3em;
  }
}

.p-about-service__title {
  gap: 0.5em;
  font-size: 1.5em;

  &::before,
  &::after {
    width: 30px;
    height: 1px;
    content: '';
    background-color: var(--text-color);
  }
}

.p-about-service__text {
  order: 1;

  @include t.responsive(lg) {
    width: min(100%, 620px);
  }
}

.p-about-service__img {
  @include t.responsive(lg) {
    width: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @at-root {
      .p-about-service__item:nth-of-type(4) & {
        object-position: center right;
      }
    }
  }
}

.p-about-service-agency {
  gap: 1.5em;

  @include t.responsive(lg) {
    padding-top: 4em;
  }
}

.p-about-service-agency__list {
  grid-template-columns: repeat(auto-fill, minmax(clamp(153px, 76px + 9.57vw, 210px), 1fr));
  gap: clamp(10px, 3.39vw, 26px) clamp(10px, 5px + 1.95vw, 20px);
}

// Information
.p-about-info__list {
  width: min(100%, 800px);
}

.p-about-info__item {
  padding: 0.75em 1em;
  border-top: solid 1px var(--gray-color-primary);

  &:last-of-type {
    border-bottom: solid 1px var(--gray-color-primary);
  }
}

.p-about-info__term {
  min-width: clamp(84px, 42px + 13.28vw, 144px);
  text-transform: uppercase;
}

.p-about-info__description {
  span:not(:last-of-type)::after {
    content: '、';
  }
}
