@use '../tool/' as t;

.p-characteristic__list {
  gap: clamp(120px, 24.31vw, 180px);
  padding: 0 5%;

  @include t.responsive(lg) {
    padding-right: min(13.33vw, 200px);
  }

  @include t.responsive(xxl) {
    padding: 0 20% 0 15%;
  }
}

.p-characteristic__item {
  width: min(90vw, 1010px);

  @include t.responsive(lg) {
    aspect-ratio: 101 / 42;
    width: min(83vw, 1010px);
  }
}

.p-characteristic__img {
  width: 72%;

  @include t.responsive(xl) {
    width: auto;
  }
}

.p-characteristic__content {
  padding: 0 1em;

  @include t.responsive(md) {
    writing-mode: vertical-rl;
  }
}

.p-characteristic__title {
  font-size: 1.4em;
  line-height: 1;
}

.p-characteristic__text {
  @include t.responsive(lg) {
    line-height: clamp(160%, 3.6vw, 260%);
    white-space: nowrap;
  }

  > br {
    @include t.responsive(md) {
      display: block;
    }
  }
}
