@use '../tool/' as t;

.p-info__address {
  background-color: var(--white-color-primary);
  color: var(--black-color-primary);
  left: 50%;
  padding: min(7.22vw, 2em);
  top: -15vw;
  transform: translateX(-50%);
  width: fit-content;

  @include t.responsive(lg) {
    left: -2%;
    top: 50%;
    transform: translate(0, -50%);
  }

  @include t.responsive(xl) {
    padding: 2em 4em;
  }
}

.p-info__link {
  gap: 30px;
}

.p-info__thumb {
  height: min(60vw, 700px);
  overflow: hidden;

  img {
    height: calc(100% + 100px);
    object-fit: cover;
  }
}
