@use '../tool/' as t;

.p-mv__list {
  @include t.responsive(lg) {
    padding-right: 40px;
    width: fit-content;
  }
}

.p-mv__item {
  border-left: solid 1px var(--gray-color-primary);

  &:last-of-type {
    border-right: solid 1px var(--gray-color-primary);
  }
}

.p-mv__link {
  padding: 0 1.5em;
  text-decoration-color: transparent;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: -50%;
  transition: text-decoration-color 0.3s var(--easing-hover);

  @include t.hover {
    text-decoration-color: var(--white-color-primary);
  }
}

.p-mv__copy {
  bottom: 6%;
  color: var(--white-color-primary);
  font-size: clamp(#{t.rem(22px)}, #{t.rem(10px)} + 2.71vw, 48px);
  left: 6%;
  letter-spacing: 0.25em;
  writing-mode: vertical-rl;

  span {
    background-color: var(--black-color-primary-a5);
    height: fit-content;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.5em 0.2em;
    text-shadow: -2px 1px 2px var(--black-color-primary);
  }
}
