@use '../tool/' as t;

.p-top {
  gap: min(38.89vw, 360px);
  padding-bottom: clamp(90px, 30px + 9.29vw, 160px);
}

// mv
.p-top-mv {
  height: clamp(568px, 142vw, 1352px);

  @include t.responsive(lg) {
    height: clamp(1353px, 200px + 112.86vw, 1938px);
    padding-bottom: min(30%, 460px);
  }
}

.p-top-mv__wrapper {
  height: calc(100vh - 80px);
  height: calc(100svh - 80px);
  padding-top: clamp(40px, 10px + 4.17vw, 60px);
}

.p-top-mv__copy {
  bottom: 16%;
  left: min(7%, 133px);
  font-size: clamp(t.rem(30px), 15px + 4.64vw, t.rem(80px));
  mix-blend-mode: multiply;

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: radial-gradient(
        105.68% 45.69% at 92.95% 50%,
        rgb(105 244 253 / 50%) 0%,
        rgb(160 255 244 / 9.5%) 53.91%,
        rgb(254 216 255 / 0%) 100%
      ),
      radial-gradient(103.18% 103.18% at 90.11% 102.39%, #c9fff2 0%, rgb(230 255 250 / 0%) 100%),
      radial-gradient(90.45% 90.45% at 87.84% 9.55%, #ffd2f5 0%, rgb(254 219 246 / 0%) 100%),
      linear-gradient(135.66deg, rgb(0 122 255 / 60%) 14.89%, rgb(216 202 254 / 0%) 74.33%);
    filter: blur(30px);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
    border-radius: 50%;
    animation: border-transform 3s linear infinite;

    @keyframes border-transform {
      0% {
        border-radius: 51% 49% 49% 51% / 58% 58% 42% 42%;
      }

      50% {
        border-radius: 28% 72% 14% 86% / 61% 27% 73% 39%;
      }

      100% {
        border-radius: 51% 49% 49% 51% / 58% 58% 42% 42%;
      }
    }
  }
}

.p-top-mv__inner {
  --height: clamp(200px, 100px + 28.57vw, 500px);

  width: min(90%, 1200px);
  height: var(--height);
  overflow: hidden;
  border-radius: 9999px;
}

.p-top-mv__image {
  width: 100%;
  height: calc(var(--height) + 100px);
  object-fit: cover;
}

.p-top-mv__accessory {
  width: min(72%, 1104px);
  margin-top: max(-12.89vw, -180px);
}

.p-top-mv__shape {
  width: 100%;
  height: 100%;

  div {
    opacity: 0.8;

    &:first-of-type {
      top: calc(100% - 67.19vw + 220px + 8%);
      left: 8%;
      width: min(20vw, 400px);
    }

    &:nth-of-type(2) {
      top: calc(100% - 67.19vw + 220px + 15%);
      left: 20%;
      width: min(12vw, 260px);
    }

    &:last-of-type {
      right: 8%;
      bottom: 0;
      width: min(15vw, 300px);
    }
  }
}

.p-top-mv__slider {
  min-height: min(9.08vw, 160px);
  line-height: 1;
  user-select: none;
}

// about
.p-top-about__container {
  padding-top: min(11.11vw, 120px);
}

.p-top-about__image {
  overflow: hidden;

  &:first-of-type {
    --size: min(105.56vw, 1460px);

    width: 90%;
    height: var(--size);

    @include t.responsive(lg) {
      width: 50%;
    }

    &::after {
      @include t.responsive(lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(90deg, transparent 60%, var(--base-color));
      }
    }
  }

  &:nth-of-type(3) {
    --size: min(30.67vw, 300px);

    @include t.responsive(md) {
      width: var(--size);
      aspect-ratio: 1;
      margin-top: 30px;
    }

    @include t.responsive(lg) {
      right: 0;
      bottom: 36%;
      margin-top: 0;
    }
  }

  &:nth-of-type(4) {
    --size: min(52.78vw, 620px);

    @include t.responsive(md) {
      width: 40%;
      height: var(--size);
      margin-top: calc(var(--size) / -2.5);
    }

    @include t.responsive(lg) {
      --size: min(43.78vw, 620px);

      left: 56.5%;
      width: 28%;
    }
  }

  img {
    height: calc(var(--size) + 100px);
    object-fit: cover;
  }
}

.p-top-about__text {
  width: fit-content;
  padding: min(11.11vw, 60px) 0 0 5.68%;

  @include t.responsive(sm) {
    font-size: 1.22em;
  }

  @include t.responsive(lg) {
    top: 10%;
    left: 40%;
    padding: 0;
  }

  p {
    padding-bottom: 1.5em;

    &:last-of-type {
      padding-bottom: 3em;
    }
  }
}

// plan
.p-top-plan__list {
  gap: 40px 0;
  padding: min(11.11vw, 80px) 0 min(16.67vw, 80px) 0;

  @include t.responsive(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-top-plan__item {
  gap: min(2.78vw, 30px);
  padding-top: min(8.33vw, 40px);
  border-top: solid 1px var(--gray-color-primary);

  @include t.responsive(lg) {
    padding-inline: 1em;
  }

  &:nth-of-type(odd) {
    &::before {
      @include t.responsive(lg) {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 80%;
        content: '';
        background-color: var(--gray-color-primary);
        transform: translateY(-50%);
      }
    }
  }

  &:first-of-type,
  &:nth-of-type(2) {
    @include t.responsive(lg) {
      padding-bottom: min(5.86vw, 100px);
    }
  }
}

.p-top-plan__plan {
  font-size: clamp(t.rem(26px), 13px + 2.5vw, t.rem(48px));
}

.p-top-plan__price {
  font-size: clamp(t.rem(20px), 10px + 2.17vw, t.rem(36px));
}

// works
.p-top-works__list {
  grid-template-columns: repeat(auto-fill, minmax(clamp(260px, 29.29vw, 410px), 1fr));
  gap: clamp(10px, 2.93vw, 30px);
  padding-block: min(11.11vw, 80px) min(16.67vw, 80px);
}

// faq
.p-top-faq__container {
  gap: min(8vw, 60px);
  width: min(100%, 1000px);
  padding-block: min(11.11vw, 80px) min(16.67vw, 80px);
}
