@use '../tool/' as t;

.p-works {
  --space: clamp(40px, 11.72vw, 120px);

  gap: calc(var(--space) / 2);
  padding-block: var(--space);
}

.p-works__list {
  gap: clamp(10px, 2.93vw, 30px);
  grid-template-columns: repeat(auto-fill, minmax(clamp(260px, 29.29vw, 410px), 1fr));
}
