@use '../tool/' as t;

.footer__outer {
  background-color: var(--gray-color-tertiary);
  padding-block: 40px 20px;

  @include t.responsive(xl) {
    padding-bottom: clamp(90px, 15px + 6.51vw, 140px);
  }
}

.footer__container {
  @include t.responsive(xl) {
    width: min(100%, 880px);
  }
}

.footer__inner {
  @include t.responsive(xl) {
    padding-top: 20px;
  }
}

.footer__list {
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  padding: 40px 30px;
  place-items: center;

  @include t.responsive(xl) {
    border-bottom: solid 1px var(--gray-color-secondary);
    padding: 6px 0 30px;
  }
}

.footer__item {
  width: fit-content;
}

.footer__link {
  transition: color var(--duration-secondary) var(--easing-hover);

  @include t.hover {
    color: var(--main-color);
  }
}

.footer__sns {
  gap: clamp(16px, 8px + 2.67vw, 40px);
  padding-bottom: 20px;

  @include t.responsive(xl) {
    padding-bottom: 0;
  }

  a {
    transition: opacity var(--duration-secondary) var(--easing-hover);

    @include t.hover {
      opacity: 0.7;
    }
  }
}
