@use '../tool/' as t;

.header {
  top: 0;
  left: 0;
  background-color: transparent;

  @include t.responsive(xl) {
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
  }
}

.header__inner {
  width: min(90%, 1200px);

  @include t.responsive(xl) {
    padding-block: 19px;
  }
}

.header__list {
  gap: 1.25em;
}

.header__link {
  --font-size: 1.1em;
  --active-color: var(--main-color);
}
