<% const path = "/"; %>
<div class="c-cta">
  <div class="c-wrapper u-mx-auto">
    <div class="c-cta__outer u-relative">
      <p class="c-cta__heading u-flex u-justify-center u-items-center u-font-english">Contact</p>
      <div class="c-cta__img u-absolute">
        <img src="<%= path %>assets/img/common/cta.svg" alt="" width="300" height="" decoding="async" loading="lazy">
      </div>
      <div class="c-cta__container u-relative">
        <p class="u-text-center">
          お見積り・住まいのことなら<br>何でもご相談ください。<br>当店は<span>お見積り無料</span>となっております。
        </p>
        <div class="c-cta__inner u-flex u-items-center u-column u-justify-center u-row:lg">
          <a class="c-button --tel u-block" href="tel:#">
            <span class="u-flex u-justify-center u-items-center">お電話でお問い合せ(平日9:00-17:00)</span>
            <span class="u-flex u-justify-center u-items-center">
              <span class="c-icon">phone</span>0000-00-0000
            </span>
          </a>
          <a class="c-button --mail u-flex u-justify-center u-items-center" href="<%= path %>contact">
            <span class="c-icon">mail_outline</span>お問い合せフォーム
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
