@use '../tool/' as t;

.c-accordion {
  --py: 1.5em;
  --px: 3.5em;
  --left: clamp(16px, 16px + 1vw, 2em);
  --offset1: 20px;
  --offset2: -20px;
  --blur: min(2.6vw, 60px);

  background-color: var(--base-color);
  box-shadow:
    var(--offset1) var(--offset1) var(--blur) var(--gray-color-quaternary),
    var(--offset2) var(--offset2) var(--blur) var(--base-color);
}

.c-accordion__title {
  padding: var(--py) var(--px);
  border: solid 1px transparent;
  transition: opacity var(--duration-secondary) var(--easing-hover);

  @include t.hover {
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    left: var(--left);
    color: var(--main-color);
    content: 'Q.';
  }
}

.c-accordion__icon {
  top: 50%;
  right: 0.75em;
  font-size: clamp(#{t.rem(22px)}, 5.56vw, #{t.rem(30px)});
  color: var(--main-color);
  transition: transform 0.3s var(--easing-hover);
  transform: translateY(-50%);

  @at-root {
    .c-accordion.is-open & {
      transform: translateY(-40%) rotate(135deg);
    }
  }
}

.c-accordion__content {
  overflow: hidden;

  // border: solid 1px transparent;
  // transition: border var(--duration-secondary) var(--easing-hover);

  // @at-root {
  //   .c-accordion__title {
  //     @include t.hover {
  //       & + .c-accordion__content {
  //         border-right: solid 1px var(--main-color);
  //         border-left: solid 1px var(--main-color);
  //         border-bottom: solid 1px var(--main-color);
  //       }
  //     }
  //   }
  // }
}

.c-accordion__text {
  padding: var(--py) var(--px);

  &::before {
    position: absolute;
    left: var(--left);
    color: var(--main-color);
    content: 'A.';
  }
}
