@use '../tool/' as t;

.c-banner {
  top: 18vh;
  right: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity var(--duration-secondary),
    transform var(--duration-secondary) var(--easing-faded);

  &.is-active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
  }
}
