@use '../tool/' as t;

.c-banner {
  top: 18vh;
  right: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all var(--duration-secondary) var(--easing-faded);

  &[aria-hidden="false"] {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
  }
}
