@use '../tool/' as t;

.c-button {
  width: min(88vw, 380px);
  padding-block: clamp(17px, 10px + 1.69vw, 23px);
  font-size: clamp(t.rem(18px), 9px + 1.69vw, t.rem(22px));
  color: var(--white-color-primary);
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  border-radius: 4px;
  transition:
    background-color var(--duration-secondary),
    color var(--duration-secondary) var(--easing-hover);

  @include t.hover {
    color: var(--main-color);
    background-color: var(--base-color);
  }

  &.--mail {
    gap: 0.5em;
  }

  &.--tel {
    padding-block: clamp(12px, 6px + 1.56vw, 18px);
    color: var(--text-color);
    background-color: var(--base-color);

    @include t.hover {
      color: var(--base-color);
      background-color: var(--main-color);
    }

    > span {
      &:first-of-type {
        font-size: 0.7em;
        line-height: 1;
      }

      &:last-of-type {
        font-size: clamp(t.rem(28px), 14px + 2.73vw, t.rem(35px));
        line-height: 1;
      }
    }
  }
}

.c-button-submit {
  width: min(88vw, 380px);
  padding-block: clamp(17px, 10px + 1.69vw, 23px);
  font-size: clamp(t.rem(18px), 9px + 1.69vw, t.rem(22px));
  color: var(--base-color);
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gray-color-secondary);
    border: solid 1px var(--gray-color-secondary);
  }

  &:not(:disabled) {
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    transition:
      background-color var(--duration-secondary),
      color var(--duration-secondary) var(--easing-hover);

    @include t.hover {
      color: var(--main-color);
      background-color: var(--base-color);
    }
  }
}

.c-button-wave {
  --wave-color-primary: rgb(255 255 255 / 70%);
  --wave-color-secondary: rgb(255 255 255 / 50%);

  width: min(90%, 360px);
  padding-block: clamp(12px, 6px + 1.56vw, 18px);
  overflow: hidden;
  font-size: clamp(t.rem(18px), 9px + 1.69vw, t.rem(22px));
  color: var(--base-color);
  text-shadow: 0 0 2px var(--main-color);
  background-color: transparent;
  border-radius: 9999px;
}

.c-button-wave__effect {
  top: max(-21.11vw, -100px);
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(45deg, var(--main-color), var(--blue-color-primary));

  &::before,
  &::after {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 150%;
    height: 200%;
    content: '';
    transition: var(--duration-primary) ease;
    transform: translate(-50%, -75%);
  }

  &::before {
    background-color: var(--wave-color-secondary);
    border-radius: 40%;
    animation: wave 7s linear infinite;
  }

  &::after {
    background-color: var(--wave-color-primary);
    border-radius: 45%;
    animation: wave 12s linear infinite;
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  @at-root {
    .c-button-wave {
      @include t.hover {
        .c-button-wave__effect::before,
        .c-button-wave__effect::after {
          width: 0;
          height: 0;
          transition: 2s ease;
        }
      }
    }
  }
}
