@use '../tool/' as t;

// .c-button {
//   border-radius: 4px;
//   color: var(--white-color-primary);
//   font-size: 1.1em;
//   padding-block: 1.25em;
//   transition: background-color 0.3s var(--easing-hover);
//   width: min(78vw, 380px);

//   &:disabled {
//     background-color: var(--gray-color-primary);
//     cursor: not-allowed;
//   }

//   &:not(:disabled) {
//     background-color: var(--base-color);

//     @include t.hover {
//       background-color: var(--blue-color-primary);
//     }
//   }
// }

.c-button-wave {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  color: var(--base-color);
  display: flex;
  font-size: clamp(t.rem(18px), 9px + 1.69vw, t.rem(22px));
  justify-content: center;
  overflow: hidden;
  padding: clamp(12px, 6px + 1.56vw, 18px) 0;
  position: relative;
  text-shadow: 0 0 2px var(--main-color);
  width: min(90%, 360px);
}

.c-button-wave__effect {
  background: linear-gradient(45deg, var(--main-color), var(--blue-color-primary));
  height: 250px;
  left: 0;
  position: absolute;
  top: max(-21.11vw, -100px);
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 200%;
    left: 50%;
    position: absolute;
    top: -10px;
    transform: translate(-50%, -75%);
    transition: var(--duration-A) ease;
    width: 150%;
  }

  &::before {
    animation: wave 7s linear infinite;
    background-color: var(--wave-color-secondary);
    border-radius: 40%;
  }

  &::after {
    animation: wave 12s linear infinite;
    background-color: var(--wave-color-primary);
    border-radius: 45%;
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  @at-root {
    .c-button-wave {
      @include t.hover {
        .c-button-wave__effect::before,
        .c-button-wave__effect::after {
          height: 0;
          transition: 2s ease;
          width: 0;
        }
      }
    }
  }
}
