@use '../tool/' as t;

.c-button {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  border-radius: 4px;
  color: var(--white-color-primary);
  font-size: clamp(t.rem(18px), 9px + 1.69vw, t.rem(22px));
  transition: background-color var(--duration-secondary), color var(--duration-secondary) var(--easing-hover);
  width: min(88vw, 380px);

  @include t.hover {
    background-color: var(--base-color);
    color: var(--main-color);
  }

  &.--mail {
    gap: 0.5em;
    padding-block: clamp(17px, 10px + 1.69vw, 23px);

    img {
      width: min(5.83vw, 26px);
    }
  }

  &.--tel {
    background-color: var(--base-color);
    color: var(--text-color);
    padding-block: clamp(12px, 6px + 1.56vw, 18px);

    @include t.hover {
      background-color: var(--main-color);
      color: var(--base-color);
    }

    > span {
      &:first-of-type {
        font-size: 0.7em;
        line-height: 1;
      }

      &:last-of-type {
        font-size: clamp(t.rem(28px), 14px + 2.73vw, t.rem(35px));
        line-height: 1;
      }
    }
  }

  // &:disabled {
  //   background-color: var(--gray-color-primary);
  //   cursor: not-allowed;
  // }

  // &:not(:disabled) {
  //   background-color: var(--base-color);

  //   @include t.hover {
  //     background-color: var(--blue-color-primary);
  //   }
  // }
}

.c-button-wave {
  --wave-color-primary: rgb(255 255 255 / 70%);
  --wave-color-secondary: rgb(255 255 255 / 50%);

  background-color: transparent;
  border-radius: 9999px;
  color: var(--base-color);
  font-size: clamp(t.rem(18px), 9px + 1.69vw, t.rem(22px));
  overflow: hidden;
  padding-block: clamp(12px, 6px + 1.56vw, 18px);
  text-shadow: 0 0 2px var(--main-color);
  width: min(90%, 360px);
}

.c-button-wave__effect {
  background: linear-gradient(45deg, var(--main-color), var(--blue-color-primary));
  height: 250px;
  left: 0;
  top: max(-21.11vw, -100px);
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 200%;
    left: 50%;
    position: absolute;
    top: -10px;
    transform: translate(-50%, -75%);
    transition: var(--duration-primary) ease;
    width: 150%;
  }

  &::before {
    animation: wave 7s linear infinite;
    background-color: var(--wave-color-secondary);
    border-radius: 40%;
  }

  &::after {
    animation: wave 12s linear infinite;
    background-color: var(--wave-color-primary);
    border-radius: 45%;
  }

  @keyframes wave {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  @at-root {
    .c-button-wave {
      @include t.hover {
        .c-button-wave__effect::before,
        .c-button-wave__effect::after {
          height: 0;
          transition: 2s ease;
          width: 0;
        }
      }
    }
  }
}
