@use '../tool/' as t;

.c-card__inner {
  --inner: 12px;
  --space: 8px;

  width: 100%;
  height: 100%;
  padding: var(--space) var(--space) calc(var(--space) * 2);
  border: solid 1px var(--gray-color-primary);
  border-radius: calc(var(--inner) + var(--space));
  transition:
    transform var(--duration-secondary) var(--easing-hover),
    box-shadow var(--duration-secondary) var(--easing-hover);

  @include t.hover {
    box-shadow: 0 0 30px -6px var(--shadow-color);
    transform: translateY(-10px);
  }
}

.c-card__thumb {
  img {
    width: 100vw;
    max-height: 390px;
    border-radius: var(--inner);
    object-fit: cover;

    @include t.responsive(sm) {
      max-height: 290px;
    }
  }
}

.c-card__content {
  padding: 6px var(--space) 0;
}

.c-card__title {
  padding-block: 0.25em;
  font-size: 1.2em;
}

.c-card__tags {
  gap: 0.5em;

  span {
    padding-inline: 0.25em;
    line-height: 1.5;
    color: var(--base-color);
    white-space: nowrap;
    background-color: var(--main-color);
    border-radius: 6px;
  }
}
