@use '../tool/' as t;

.c-form {
  --space: clamp(40px, 11.72vw, 120px);

  gap: calc(var(--space) / 2);
  width: min(100%, 800px);
  padding-block: var(--space);
}

.c-form__text {
  .c-icon {
    vertical-align: -4px;
  }
}

.c-form__inner {
  gap: 3em;
}

.c-form__required {
  padding: 0.35em 0.6em;
  font-size: 0.75em;
  color: var(--base-color);
  vertical-align: 2px;
  background-color: var(--pink-color-secondary);
  border-radius: 3px;
}

.c-form__label {
  font-size: t.rem(16px);
}

.c-form__input {
  width: 100%;
  height: 3.125em;
  padding: 0 1em;
  overflow: hidden;
  font-size: clamp(t.rem(16px), 8px + 1.3vw, t.rem(18px));
  line-height: 3.125;
  text-overflow: ellipsis;
  appearance: none;
  border: solid 1px var(--gray-color-tertiary);
  transition: background-color var(--duration-secondary) var(--easing-hover);
}

.c-form__textarea {
  width: 100%;
  height: min(33.33vw, 200px);
  padding: 1em;
  font-size: clamp(t.rem(16px), 8px + 1.3vw, t.rem(18px));
  appearance: none;
  border: solid 1px var(--gray-color-tertiary);

  &:valid {
    border: solid 1px var(--green-color-primary);
  }
}

.c-form__disabled {
  color: var(--red-color-primary);

  @at-root {
    #submit:disabled + & {
      display: block;
    }
  }
}

.c-form__valid {
  top: 50%;
  right: 1em;
  color: var(--green-color-primary);
  transform: translateY(-50%);

  @at-root {
    input:valid ~ & {
      display: block;
    }
  }
}

.c-form__invalid {
  top: 50%;
  right: 1em;
  color: var(--red-color-primary);
  transform: translateY(-50%);

  @at-root {
    input:not(:placeholder-shown) ~ & {
      display: block;
    }

    input:valid ~ & {
      display: none;
    }
  }

  &.--text {
    top: auto;
    bottom: -2em;
    left: 0;
    font-size: 0.95em;
    white-space: nowrap;
    transform: none;
  }
}

input.--required {
  &:valid {
    border: solid 1px var(--green-color-primary);
  }

  &:invalid {
    border: solid 1px var(--red-color-primary);
  }

  &:placeholder-shown {
    border: solid 1px var(--gray-color-tertiary);
  }
}
