@use '../tool/' as t;

.c-heading {
  font-size: clamp(#{t.rem(28px)}, 14px + 2.83vw, #{t.rem(48px)});

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    font-family: var(--font-english);
    font-size: clamp(#{t.rem(120px)}, 60px + 18.75vw, #{t.rem(360px)});
    line-height: 0.8;
    color: var(--white-color-primary);
    content: attr(data-english);
  }
}

.c-heading-secondary {
  padding-bottom: clamp(20px, 5.86vw, 60px);
  font-size: clamp(t.rem(26px), t.rem(13px) + 2.36vw, t.rem(46px));

  &::before {
    display: block;
    font-family: var(--font-english);
    font-size: clamp(t.rem(28px), t.rem(14px) + 2.29vw, t.rem(46px));
    line-height: 1;
    color: var(--main-color);
    content: attr(data-en);
  }

  &::after {
    width: 1px;
    height: clamp(20px, 10px + 2.14vw, 40px);
    content: '';
    background-color: var(--main-color);
    transform: rotate(25deg);
  }
}
