@use '../tool/' as t;

.c-icon {
  font-family: var(--font-icon);
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: 'liga';
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  // &.--mail {
  //   color: var(--gray-color-primary);
  //   font-size: 30px;
  // }
}
