@use '../tool/' as t;

.c-menu-button {
  width: 80px;
  aspect-ratio: 1;
  background-color: transparent;

  &.--close {
    right: 0;
    top: 0;
  }
}

.c-menu-button__parts {
  background-color: var(--base-color);
  height: 1px;
  left: 50%;
  width: 46%;
  transform: translateX(-50%);

  &.--open {
    &:nth-of-type(1) {
      top: 28%;
    }

    &:nth-of-type(2) {
      top: 40%;
      transform: translate(-50%, -40%);
    }

    &:nth-of-type(3) {
      top: 52%;

      &::after {
        color: var(--base-color);
        content: 'Menu';
        font-size: t.rem(11px);
        left: 50%;
        position: absolute;
        top: 4px;
        white-space: nowrap;
        transform: translateX(-50%);
      }
    }
  }

  &.--close {
    top: 40%;

    &:nth-of-type(1) {
      transform: translateX(-50%) rotate(-45deg);
    }

    &:nth-of-type(2) {
      transform: translateX(-50%) rotate(45deg);

      &::after {
        color: var(--base-color);
        content: 'Close';
        font-size: t.rem(11px);
        left: 19px;
        position: absolute;
        top: 7px;
        transform: rotate(-45deg);
        white-space: nowrap;
      }
    }
  }
}

.c-menu-button__shape {
  transform: scale(1.2);
}
