@use '../tool/' as t;

.c-modal {
  display: none;

  &.is-open {
    display: block;
  }
}

.c-modal__overlay {
  background-color: var(--shadow-color);
  inset: 0;
  margin: 0;

  @at-root {
    .c-modal-slide[aria-hidden='false'] & {
      animation: overlay-fadein var(--duration-secondary) var(--easing-faded);

      @keyframes overlay-fadein {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

    .c-modal-slide[aria-hidden='true'] & {
      animation: overlay-fadeout var(--duration-secondary) var(--easing-faded);

      @keyframes overlay-fadeout {
        from {
          opacity: 1;
        }

        to {
          opacity: 0;
        }
      }
    }
  }
}

.c-modal__container {
  aspect-ratio: 33 / 46;
  border-radius: 50%;
  right: 0;
  top: 0;
  transform-origin: right top;
  width: min(90%, 330px);

  @at-root {
    .c-modal-slide[aria-hidden='false'] & {
      animation: modal-slidein var(--duration-primary) var(--easing-faded);

      @keyframes modal-slidein {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    .c-modal-slide[aria-hidden='true'] & {
      animation: modal-slideout var(--duration-primary) var(--easing-faded);

      @keyframes modal-slideout {
        from {
          transform: scale(1);
        }

        to {
          transform: scale(0);
        }
      }
    }
  }
}

.c-modal__bg {
  pointer-events: none;
  right: -60px;
  top: -10px;
  transform: scale(1.9, 2.6);
}
