@use '../tool/' as t;

.c-nav {
  height: 100%;
  padding: 80px 0 0 min(8.68vw, 50px);
  color: var(--base-color);
}

.c-nav__list {
  gap: min(2em, 30px);
  width: fit-content;

  @include t.landscape {
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 1em;
  }
}

.c-nav__item {
  --font-size: 1em;
  --active-color: var(--base-color);
}
