@use '../tool/' as t;

.c-separate__img {
  clip-path: polygon(0 6%, 100% 0%, 100% 94%, 0 100%);
  height: min(60vw, 600px);
  overflow: hidden;

  &.--left {
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
  }

  img {
    height: calc(min((60vw + 100px), 700px));
    object-fit: cover;
    width: 100%;
  }
}

.c-separate__text {
  font-size: clamp(#{t.rem(14px)}, 3.89vw, #{t.rem(32px)});
  right: 17%;
  top: -3em;
  white-space: nowrap;
  writing-mode: vertical-rl;

  &.--left {
    left: 17%;
    right: auto;
  }

  > span {
    background-color: var(--gold-color-primary);
    padding: 0.5em 0;
  }
}
