@use '../tool/' as t;

.c-underline {
  text-decoration-color: var(--white-color-primary);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  transition: opacity 0.2s var(--easing-hover);

  @include t.hover {
    opacity: 0.6;
  }

  &.--black {
    color: var(--black-color-primary);
    text-decoration-color: var(--black-color-primary);
  }
}
