@use '../tool/' as t;

.c-underline {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-decoration-color: var(--text-color);
  transition: opacity var(--duration-secondary) var(--easing-hover);

  @include t.hover {
    opacity: 0.6;
  }
}
